* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(180deg, rgb(75 90 107) 0%, rgb(9 23 39) 25%, rgb(9,23,39) 35%, rgb(45 59 78) 100%);
}

.landing {
    height: 100vh;
}

.rest {
    height: 2000px;
}